Repository certbot/website, pull requests merged in 2020-12, with the labels that each got.

#675 Add netclusive to hosting providers
  _data/hosting_providers.json
Labels: area: hosting providers

#669 Add snappages.com to hosting providers list
  _data/hosting_providers.json
Labels: area: hosting providers

#676 Remove instructions for CentOS 6 and RHEL 6
  _data/inputs.json
  _scripts/instruction-widget/install.js
Labels: area: fedora / redhat / CentOS

#681 Update out-of-date note
  _scripts/instruction-widget/templates/install/snap.html
Labels: area: snaps, instruction generator

#685 ignore twitter URLs during link check
  package.json
Labels: priority: critical

#683 Combell offers full HTTPS support
  _data/hosting_providers.json
Labels: area: hosting providers
