Repository certbot/website, pull requests merged in 2020-06, with the labels that each got.

#577 Replace Windows instructions with an adaptation of Adrien's documentation
  _scripts/instruction-widget/templates/getting-started/windows.html
Labels: docs

#598 Don't show snap banner in advanced instructions
  _scripts/instruction-widget/templates/install/arch.html
  _scripts/instruction-widget/templates/install/centos.html
  _scripts/instruction-widget/templates/install/debian.html
  _scripts/instruction-widget/templates/install/fedora.html
  _scripts/instruction-widget/templates/install/opensuse.html
  _scripts/instruction-widget/templates/install/ubuntu.html
Labels: instruction generator

#601 reformatted windows html to more closely match other install templates
  _sass/_instruction-widget.scss
  _scripts/instruction-widget/templates/getting-started/windows.html
Labels: css
