Repository certbot/website, pull requests merged in 2021-06, with the labels that each got.

#718 Give both cron-included and non-cron-included users instructions on how to test using --dry-run
  _scripts/instruction-widget/get-started.js
  _scripts/instruction-widget/templates/getting-started/renewal.html
Labels: instruction generator, priority: significant

#723 windows: use net.exe rather than net
  _scripts/instruction-widget/templates/getting-started/windows.html
Labels: instruction generator

#724 Update hosting_providers.json
  _data/hosting_providers.json
Labels: area: hosting providers
